@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-list{
  width: 100%;
  border: 2px solid #d6d6d6;
  margin-bottom: .5rem;
  color: #000000;
}
.title{
  padding: 0.5rem;
  text-align: center;
  background: #d6d6d6;
}
.container-list{
  min-height: 600px;
  border: 1px solid #d6d6d6;
  text-align: center;
}

.btn-list-in{
  width: 80%;
  border: 2px solid #d6d6d6;
  margin-top: .5rem;
  color: #000000;
}